---
layout: default
title: Home
---
<div class="header banner">
    <img class="ui fluid image" src="/img/banner_2.jpg" alt="">
</div>
<div class="ui container">
    <div class="ui three column stackable internally celled grid">
        <div class="five wide column">
            {% for alert in site.data.alert %}
            {% include alert.message.html %}
            {% endfor %}
            <h2>Calendar</h2>
            {% include calendar.list.html limit=3 %}
        </div>
        <div class="six wide column">
            <h2>News & Posts</h2>
            {% include post.list.html limit=4 %}
        </div>
        <div class="five wide column">
            {% include button.payDues.html %}
            <div class="ui divider"></div>
            {% include instafeed.html %}
            <a href="{{ site.data.social.service[0].url }}" target="_blank">
                <i class="instagram icon"></i> Follow us on Instagram
            </a>
        </div>
    </div>
    <div class="ui one column center aligned grid">
        <div class="column">
        </div>
    </div>
</div>