<table class="ui definition celled table">
    <thead>
    <tr>
        <th></th>
        <th>Finance & Admin</th>
        <th>Communication</th>
        <th>Membership</th>
        <th>Initiatives</th>
        <th>Collaborations</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Infrastructure</td>
        <td>Treasurer</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Beautification</td>
        <td></td>
        <td>Secretary</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Safety</td>
        <td></td>
        <td></td>
        <td>VP, Membership</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Quality of Life</td>
        <td></td>
        <td></td>
        <td></td>
        <td>VP, Initiatives</td>
        <td>President</td>
    </tr>
    </tbody>
</table>