<script id="calendarEventTmpl" type="text/template">
    {% raw %}
    <div class="ui very relaxed divided calendar list">
        {{#events}}
        <div class="item">
            <h3>
                {{#if link }}
                <a href={{link}} title="Click to learn more" target="_blank">{{title}}</a>
                {{else}}
                {{title}}
                {{/if}}
            </h3>
            <div class="content">
                <div class="header">
                    {{#if date.sameDay}}
                    {{date.start}} ({{date.startTime}} to {{date.endTime}})
                    {{else}}
                    {{date.start}} to <br/>
                    {{date.end}}
                    {{/if}}
                </div>
                {{#if location}}
                <div class="meta">
                    <a href="//maps.google.com/maps?q={{location}}"
                       target="_blank">{{location}}</a>
                </div>
                {{/if}}
                <div class="description">
                    {{{description}}}
                </div>
            </div>
        </div>
        {{/events}}
    </div>
    {% endraw %}
</script>