{% assign primary = include.primary | false %}

<div id="calendarList" style="position:relative;min-height:6rem;">
    <div class="ui active inverted dimmer">
        <div class="ui loader"></div>
    </div>
</div>

{% if primary %}
<script type="text/javascript">
    $(function () {
        var calendar = new Calendar("{{ site.api.google.calendars.primary }}", {
            class: "primary",
            maxResults: "{{ include.limit | default: 10 }}"
        });

        window.setTimeout(function () {
            calendar.compileList();
        }, 1000);
    });
</script>
{% else %}
<script type="text/javascript">
    $(function () {
        var calendars = new Calendars([{
            id: "{{ site.api.google.calendars.primary }}", options: {
                class: "primary"
            }
        }, {
            id: "{{ site.api.google.calendars.secondary }}",
            options: {
                class: "secondary"
            }
        }], {
            maxResults: "{{ include.limit | default: 10 }}"
        });

        window.setTimeout(function () {
            calendars.setEvents();
            calendars.compileList();
        }, 1000);
    });
</script>
{% endif %}