<footer class="site footer">

    <div class="ui container">

        <div class="ui two column stackable grid">
            <div class="six wide column">
                <h2 class="footer-heading">{{ site.title }}</h2>
                {% if site.description %}
                <p>{{ site.description }}</p>
                {% endif %}
            </div>
            <div class="right aligned ten wide column">
                {% include social.icons.list.html %}
                <p class="rss-subscribe">Subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></p>
            </div>
        </div>
    </div>

</footer>
