<div id="navDesktop" class="ui top fixed menu">
    <a href="{{ site.baseurl }}/" class="item">
        <img src="{{ site.baseurl }}/assets/img/logo.png">
    </a>
    {% include nav.links.html %}
    <div class="right menu">
        <a href="{{ site.payments.link }}" class="item" title="Pay Dues">
            <i class="circular dollar icon"></i>
        </a>
        <a href="{{ site.baseurl }}/contact/" class="item" title="Contact us">
            <i class="mail icon"></i>
        </a>
    </div>
</div>
<div id="navMobile" class="ui top fixed menu">
    <a href="{{ site.baseurl }}/" class="item">
        <img src="{{ site.baseurl }}/assets/img/logo.png" alt="">
    </a>
    <div class="right menu">
        <a href="#" class="item">
            <i class="sidebar icon"></i>
        </a>
    </div>
</div>