<div class="ui two column stackable grid">
    <div class="four wide column">
        <a href="{{ site.baseurl }}{{ post.url }}">
            {% include post.feature.image.html %}
        </a>
    </div>
    <div class="twelve wide column">
        <a href="{{ site.baseurl }}{{ post.url }}">
            <h3>{{ post.title }}</h3>
        </a>
        <span class="meta text">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} by {{ post.author }}{% endif %}</span>
        {% if post.excerpt %}
        <p>{{ post.excerpt | strip_html | truncatewords:50 }}</p>
        {% else %}
        <p>{{ post.content | strip_html | truncatewords:50 }}</p>
        {% endif %}
        <a href="{{site.baseurl}}{{ post.url }}">Read more</a>
    </div>
</div>
