<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script type="text/javascript" src="{{ '/assets/scripts/instafeed.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/semantic/dist/semantic.min.js' | prepend: site.baseurl }}"></script>

<script type="text/javascript">

    $(function () {

        $('#sidebar')
                .sidebar('attach events', '#navMobile .right.menu .item')
        ;

        $('iframe').load(function (foo, bar) {

            var $iframe = $(event.target);
            $iframe.prev().removeClass('active');
        });
    });

</script>

<script type="text/javascript">
    //    $.ajax({
    //        type: 'GET',
    //        url: encodeURI('https://www.googleapis.com/drive/v2/files/0BycyyaEIrAVnYlR6U1hjWHFCTGs/children?key=ya29.mwJFmqQ-GbF6-KhOcgOz6qBNGSuWb5lXklzYB9bb36j4Ro7RbZF1Mm9ZNL8-zHEFbQ'),
    //        dataType: 'json',
    //        success: function (response) {
    //            console.log('success2', response);
    //            //do whatever you want with each
    //        },
    //        error: function (response) {
    //            console.log('error2', response);
    //            //tell that an error has occurred
    //        }
    //    });
</script>
