---
layout: default
title: News & Posts
---

{% capture number %}{% include number.to.string.html number=2 %}{% endcapture %}

<div id="blogList" class="ui container">
    <div class="ui one column center aligned stackable grid">
        <div class="ten wide computer sixteen wide tablet column">
            <div class="ui {{ number }} item secondary pointing menu">
                {% for category in site.categories %}
                <a href="/{{ category[0] }}/"
                   class="pointer item{% if category[0] == page.category %} active{% endif %}">
                    <h1>{{ category[0] | capitalize }}</h1>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="twelve wide computer sixteen wide tablet left aligned column">
            {% for post in site.categories[page.category] %}
            {% include post.grid.item.html %}
            {% endfor %}
        </div>
    </div>
</div>

<script type="text/javascript">
    //    $(function () {
    //        var $tabs = $('#allBlogsWrapper .menu .item');
    //        var $panes = $('#allBlogsWrapper .ui.tab');
    //        var hash = window.location.hash.split('#')[1];
    //        var $hashTab = $('#allBlogsWrapper [data-tab="' + hash + '"]');
    //        var isValid = $hashTab.length > 0;
    //        var options = {
    //            onLoad: function (tabPath) {
    //                window.location.hash = '#' + tabPath;
    //            }
    //        };
    //
    //        if (!hash || !isValid) {
    //            $tabs.first().addClass('active');
    //            $panes.first().addClass('active');
    //            $tabs.tab(options);
    //            return;
    //        }
    //
    //        $hashTab.addClass('active');
    //        $tabs.tab(options);
    //    });
</script>