---
layout: default
title: News & Posts
---

{% capture number %}{% include number.to.string.html number=2 %}{% endcapture %}

<div id="blogList" class="ui container">
    <div class="ui one column center aligned stackable grid">
        <div class="ten wide computer sixteen wide tablet column">
            <div class="ui {{ number }} item secondary pointing menu">
                {% for category in site.categories %}
                <a href="/{{ category[0] }}/"
                   class="pointer item{% if category[0] == page.category %} active{% endif %}">
                    <h2>{{ category[0] | capitalize }}</h2>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="twelve wide computer sixteen wide tablet left aligned column">
            {% for post in site.categories[page.category] %}
            {% include post.grid.item.html %}
            {% endfor %}
        </div>
    </div>
</div>