---
layout: default
---

<div class="ui container">
    <div class="ui one column center aligned stackable grid">
        <div class="ten wide column">
            <div class="ui raised segments">
                <div class="ui segment">
                    <h2>{{ page.title }}</h2>
                </div>
                {% if content and content != '' %}
                <div class="ui segment">
                    <p>{{ content }}</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="left aligned ten wide column">
            <div class="ui raised segment">
                {% include calendar.list.html %}
            </div>
        </div>
    </div>
</div>

<div class="ui one column center aligned container stackable grid">
    <div class="column">
        {% include button.updateSite.html color='blue' text='Add Event' size='massive' %}
    </div>
</div>
